<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/groupinfo.css">
    <title>Split Your Bill</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
        <div class="container"><a class="navbar-brand">SplitYourBill</a>
            <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                    class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
            <div id="my-nav" class="collapse navbar-collapse ml-4">
                <ul class="navbar-nav mr-auto ml-4">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/group">Group</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
                <a class="btn logout my-2 my-sm-0 text-uppercase" href="/user/logout">LOGOUT</a>
            </div>
        </div>
    </nav>
    <div id="myModalLogin" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enter Member</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/user/groupInfo/<%=id%>" method="POST">
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input type="email" name="email" class="form-control" placeholder="Email"
                                required="required">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock"></i>
                            <input type="number" name="amount" class="form-control" placeholder="Amount"
                                required="required">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalEqual" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enter Member</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/user/groupInfo/<%=id%>" method="POST">
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input type="email" name="email" class="form-control" placeholder="Email"
                                required="required">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mastergroup">
        <div class="container">
            <div class="row">
                <div class="main-group col-6" style=" margin-left: 0px;
                margin-right: 0px;">
                    <div class="allgroup">
                        <h1>Manual Split</h1>
                        <div class="container">
                            <h2>
                                <%=groupInfo.name%>
                            </h2>
                        </div>
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Person</th>
                                        <th>Bill</th>
                                        <th>Remind</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <%for(var ele of relation){%>
                                        <div id="myModalEdit" class="modal fade">
                                            <div class="modal-dialog modal-login">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Enter Amount</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/user/groupInfo/<%=id%>" method="POST">
                                                            <div class="form-group">
                                                                <input type="number" name="number" class="form-control" placeholder="Enter Amount"
                                                                    required="required">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="submit" class="btn btn-primary btn-block btn-lg" value="submit">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <tr>
                                            <td>
                                                <%=ele.user.name%>
                                            </td>
                                            <td>
                                                <%=ele.amount%>
                                            </td>
                                            <td>

                                                <a href="/user/reminder/<%=ele.amount%>/<%=ele.user.email%>/<%=groupInfo._id%>">Remind</a>

                                            </td>
                                            <td>
                                                <a href="#myModalEdit" data-toggle="modal">Edit</a>

                                            </td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>

                        <div class="createButton" style="padding-bottom: 30px;">
                            <a href="#myModalLogin" data-toggle="modal" style=" 
        margin-top: 5px; 
        border:#000 solid 1px;
        border-radius: 0;
        color: #000;
        font-size: 16px;
        padding: 5px;
        ">Add Member
                                <i class="fa fa-angle-right" aria-hidden="true"
                                    style="background:white; border-radius: 50%; margin:5px; padding:5px;"></i></a>
                                <a href="/user/groupUnEqualCsv/<%=groupInfo._id%>" style=" 
                                    margin-top: 5px; 
                                    border:#000 solid 1px;
                                    border-radius: 0;
                                    color: #000;
                                    font-size: 16px;
                                    padding: 5px;
                                    ">Download Csv</a>

                                    
                        </div>
                    </div>
                </div>
                <div class="main-group col-6" style=" margin-left: 0px;
                margin-right: 0px;">
                    <div class="allgroup">
                        <h1>Equal Split</h1>
                        <div class="container">
                            <h2>
                                <%=groupInfo.name%>
                            </h2>
                        </div>
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Person</th>
                                        <th>Bill</th>
                                        <th>Remind</th>
                                        
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                  
                                    <%for(var ele of relation){%>
                                        <tr>
                                            <td>
                                                <%=ele.user.name%>
                                            </td>
                                            <td>
                                                <%=groupInfo.amount%>
                                            </td>
                                            <td>
                                                <a href="/user/reminder/<%=ele.amount%>/<%=ele.user.email%>/<%=groupInfo._id%>">Remind</a>
                                            </td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                                <div class="createButton" style="padding-bottom: 30px;">
                                    <a href="#myModalEqual" data-toggle="modal" style=" 
        margin-top: 5px; 
        border:#000 solid 1px;
        border-radius: 0;
        color: #000;
        font-size: 16px;
        padding: 5px;
        ">Add Member
                                        <i class="fa fa-angle-right" aria-hidden="true"
                                            style="background:white; border-radius: 50%; margin:5px; padding:5px;"></i></a>


                                              <a href="/user/groupEqualCsv/<%=groupInfo._id%>" style=" margin-top: 5px; 
                                                border:#000 solid 1px;
                                                border-radius: 0;
                                                color: #000;
                                                font-size: 16px;
                                                padding: 5px;
                                                "">Download Csv</a>
                                            
                                </div>
                                <form action="/user/groupInfoEqual/<%=id%>" method="POST">
                                    <div class="form-group">
                                        <input type="number" name="amount" class="form-control" placeholder="Amount"
                                            required="required" style="background: rgba(0, 0, 0, 0.1);">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn  btn-block btn-lg" value="submit" 
                                        style="
                                            background: rgba(0, 0, 0, 0.1);
                                            border: rgba(0, 0, 0, 1) solid 0.7px;
                                            border-radius: 0;">
                                    </div>
                                </form>
                                
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="container-fluid" id="gtco-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>&copy; 2021 INTERNATHON. All Rights Reserved. Made by 404 FORCES</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- owl carousel js-->
    <script src="owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>